<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to My Application</title>
<!--    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"  />-->
</head>
<body>
<div class="container-fluid text-center">
    <h1>Welcome to my application</h1>
    <br>
    <a class="h2" th:href="@{/gogo}">Manage Users</a><br>
    <a href="/gogo">gogo</a><br>
    <a href="/register">Click here to register</a>
</div>
</body>
</html>